body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.cart {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.cart-item h2 {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 18px;
    color: #555;
}

.cart-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.price {
    font-size: 16px;
    color: #000000;
}

select {
    margin: 0 10px;
    padding: 5px;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000;
}

.order-button {
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}

.order-button:hover {
    background-color: #000000;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
    color: #000000;
}